<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
        <!-- The main content that will be overridden by child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
    </footer>

    {% block javascript %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>
</html>
