{%extends 'core/base.html'%}

{%block title%} {{titie}} {%endblock%}


{%block content%}
<h1 class="text-3xl text-center mb-6">{{title}}</h1>
<form method="post" action ="." enctype="multipart/form-data">
    {%csrf_token%}
<div class ="mx-auto my-10 bg-teal-100 mb-10">
    {{form.as_p}}
</div>
{%if form.errors or form.non_field_errors%}
<div class="mb-3 p-6 bg-red-100 rounded-xl"> 
           {% for field in form %}
               {{field}}
            {%endfor%}

            {{form.non_field_errors}}
</div>

{%endif%}
<button class="py-4 px-8 bg-teal-500 text-white rounded-xl hover:bg-teal-700"> Submit </button>
</form>
{%endblock%}
