{%extends 'core/base.html'%}
{%block title%} {{item.name}} | Detail Page {%endblock%}

{%block content%}
<div class = "grid grid-cols-5 gap-6 rounded-xl">
    <div class="col-span-3">
        <a href ="{%url 'core:index' %}">
        <img src="{{item.image.url}}" class = "rounded-xl">
        </a>
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-3xl mb-6 text-center ">
            {{item.name}}
        </h1>
        <p class="text-gray-600"><strong>Prince:</strong>{{item.price}}</p> 
        <p class="text-gray-600"><strong>Seller:</strong>{{item.created_by.username}}</p>
        {%if item.description%}
        <p class="text-gray-800"><strong class="text-gray-700">Description:</br></strong>
        {{item.description}}
        </p></br>
       {%endif%}
       <a href="#" class="inlin-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Contact seller</a>
    </div>
</div>

{%endblock%}
